body{
    background-color: white;
    min-height: 1000px;
    text-align: center;
}

.navbar-brand{
    font-size: 80px;
}

.carousel{
    padding: 100px 20% 0 20%;
}
.carousel-item{
    max-height: 700px;
}
.container-fluid{
    padding: 0 20%;
    background-color: #39A2DB;
    font-size: 30px;
}

#about{
    padding: 100px 20%;
    /* padding: 100px 40px; */
    background-color: white;
}

#contacts{
    background-color: #39A2DB;
}

#events{
    padding:100px 20%;
    background-color: white;
}

#gallery{
    padding: 100px 20%;
    background-color: #39A2DB;
}

#gallery h1{
    color: white;
}

#contacts h1{
    color: white;
}

.contacts{
    display: flex;
    flex-flow: column;
}

.contacts a,i{
    padding: 10px;
    color: white;
    text-decoration: none;
}

#ttgLogo{
    width:200px;
    padding-right: 0px;
}

.gallery{
   display: grid;
   grid-template-columns: 30% 30% 30%;
}

.gallery img{
    padding: 40px;
    width: 80%;
}

.card{
    margin: 50px;
    /* box-shadow: inset 20px; */
}
.card img{
    max-height: 200px;
}

.events{
    padding: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 150px;
}

#events{
    padding-top: 100px;
    padding-bottom: 100px;
}